.beneficios {
  display: flex;
  justify-content: center;
  text-align: left;  /* o center si quieres centrar texto también */
  margin: 20px 0;
}

.beneficios ul {
  list-style: none;
  padding: 0;
}

